// ----- TopBar -----
.topBar{
    position:fixed;
    top:0px;
    width:100vw; 
    background-color:white;
    z-index: 999;
    
    .topBarMenu{
        display: flex;
        justify-content: center;
        align-items: center;
        height:61px;
        margin:0px 10px 0px 10px;
        .topBarTitle{
            color:var(--color-font-dark-pink);
            font-size: 24px;
            font-weight: bold;
        }
        .topBarLeftMenu{
            position: absolute;
            top:15px;
            left:10px;
        }
        .topBarRightMenu{
            position: absolute;
            top:15px;
            right:10px;
            display: flex;
        }
    }
}
.MuiIconButton-root{
    padding:0px !important;
}
// ----- MenuComponent -----