.recommendResult {

    .container {
        height: initial;
        
        .wrapper{
            width: 100%;
            height: calc(100vh - 100px);
            overflow: scroll;
            -ms-overflow-style: none;

            &::-webkit-scrollbar{ 
                display:none; 
            }

            .recommendResultTitle {
                width: 100%;
                padding-top: 10px;
                animation: appear 0.5s 0.5s ease forwards;
                visibility:hidden;
    
                .titleIcon {
            
                    svg {
                        color: var(--color-font-dark-pink);
                        font-size: 40px;
                    }
                }
            
                .titleHead {
                    font-size: 16px;
                    font-weight: bold;
                }
            
                .titleDesc {
                    padding-bottom: 20px;
                    font-size: 14px;
                }
            }
    
            .recommendContent {
                width: 100%;
                animation: appear 0.5s 1s ease forwards;
                visibility:hidden;
    
                .contentBox {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 50px;

                    .recommnedTitle {
                        font-size: 16px;
                        font-weight: bold;
                        display: block;
                        padding-bottom: 10px;
                    }
                }
    
                .squareList {
                    width: 100%;
                    height: 100%;
                    display: grid;
                    place-items: center;
                    grid-template-columns: 1fr 1fr 1fr;
                    min-height: 99px;
    
                    .item {
                        width: 100%;
                        height: 112px;
                        object-fit: contain;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;

                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        .icons-list {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #fff;
                        }
                    }
                }
            }

        }

    }
}
