.ant-form  {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .ant-form-item {
        width: 90%;

        .ant-form-item-control {
            height: 98px;
        }

        .ant-form-item-control-input-content {
            display: flex;
            flex-direction: column;

            .ant-input-affix-wrapper {
                display: flex;
                flex-direction: column;
                height: 62px;
                margin-bottom: 10px;

                .ant-input-prefix {
                    font-weight: bold;
                    font-size: 1rem;
                }

                .ant-input {
                    margin-top: 0.3rem;
                    padding: .8rem 1rem;
                    background-color: #fff;
                    border: 1px solid var(--color-button-gray);
                    border-radius: 8px;
                    outline: none;
                    font-size: 0.9rem;
            
                    &:focus {
                        border: 1px solid var(--color-button-pink);
                    }
                }

                .ant-input-suffix {
                    display: none;
                }
            }
        }

        .ant-form-item-explain {
            padding: 2px 5px;
            font-size: .8rem;
            color: var(--color-font-dark-pink);
        }
    }

    .button {
        position: fixed;
        bottom: 1rem;

        .ant-form-item-control {
            height: initial !important;
        }
    }
}