#normal_login{
    width:90vw;
    // height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    input{
        padding: 10px;
    }
    .formLabel{
        margin-bottom: 10px;
        font-size: 1rem;
        font-weight: 600;
    }
    .ant-input-affix-wrapper{
        border: 1px solid #d9d9d9;
        padding:0px;
    }
}
// #components-form-demo-normal-login .login-form {
//     max-width: 300px;
// }

// #components-form-demo-normal-login .login-form-forgot {
//     float: right;
// }

// #components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
//     float: left;
// }

// #components-form-demo-normal-login .login-form-button {
//     width: 100%;
// }

// .login-form {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;

//     .ant-form-item {
//         width: 90%;

//         .ant-form-item-control {
            
//             .ant-input-affix-wrapper {
//                 display: flex;
//                 flex-direction: column;
//                 height: 71px;
//                 margin-bottom: 0;
    
//                 .ant-input-prefix {
//                     font-size: 1rem;
//                     font-weight: bold;
//                     font-size: 1rem;   
//                 }
                
//                 .ant-input {
//                     margin-top: .3rem;
//                     padding: .8rem 1rem;
//                     background-color: #fff;
//                     border: 1px solid var(--color-button-gray);
//                     border-radius: 8px;
//                     outline: none;
//                     font-size: 0.9rem;
            
//                     &:focus {
//                         border: 1px solid var(--color-button-pink);
//                     }
//                 }
//             }

//             .ant-form-item-explain {
//                 padding: 2px 5px;
//                 font-size: .8rem;
//                 color: var(--color-font-dark-pink);
//             }
//         } 
//     }

//     .button {
//         position: fixed;
//         bottom: 1rem;
//     }
// }

// .ant-input-affix-wrapper::before{
//     display:none;
// }
// .ant-input-affix-wrapper{
//     border:none;
// }